<div>
    
    <div class="tab-pane active" id="menu">
        <div class="photo-container text-center">
            <a ui-sref="account">
                <img ng-src="{{getAvatar()}}" alt="" class="img-circle dash-profile" />
            </a>
            <div class="t-p">
                <a ui-sref="account">{{username}}</a>
            </div>

        </div>
        <div class="section-heading">Menus</div>
        <ul class="nav sidebar-nav">
        	<li ng-class="{active: $state.includes('home')}"><a ui-sref="gate" ng-click="showSubNav(0)"><i class="fa fa-dashboard"></i> <span class="menu-text"</span>Tablero</a></li>
            <li ng-class="{active: $state.includes('users')}"><a ui-sref="enlistuser" ng-click="showSubNav(0)"><i class="fa fa-users"></i> <span class="menu-text"</span>Incorporacion</a></li>
            <li ng-class="{active: $state.includes('users')}"><a ui-sref="account" ng-click="showSubNav(0)"><i class="fa fa-pencil-square-o"></i> <span class="menu-text"</span>Perfil</a></li>
            <li ng-class="{active: $state.includes('ticket')}"><a ui-sref="ticket" ng-click="showSubNav(0)"><i class="fa fa-ticket"></i> <span class="menu-text"</span>Soporte</a></li>
            <li ng-class="{active: $state.includes('users')}"><a ui-sref="login" ng-click="logOut()"><i class="fa fa-sign-out"></i> <span class="menu-text"</span>Salir</a></li>
        </ul>
    </div>
</div>