<pageheader pagename="Soporte" subtitle="Gestion de Tickets"></pageheader>
<div class="conter-wrapper">	
	<div class="row" ng-if="showList">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Lista de Tickets		  
						<div class="panel-control pull-right">
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
						</div>
					</h3>
				</div>
				<div class="panel-body" >
					<table class="table ">
						<thead>
							<tr>
								<th>Usuario</th>
								<th>Asunto</th>
								<th>Fecha</th>
								<th>Estado</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="p in planes" >
								<td>{{p.name}}</td>
								<td>{{p.title}}</td>
								<td>{{p.amount}}</td>
								<td>
								<a type="button" class="btn btn-warning btn-bordered btn-xs" ng-click="editar(p.id_plans)">Editar</a>
								</td>
							</tr>
						</tbody>
					</table>	
				</div>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Formulario Plan	  
						<div class="panel-control pull-right">
							<a class="panelButton"><i class="fa fa-refresh"></i></a>
							<a class="panelButton"><i class="fa fa-minus"></i></a>
							<a class="panelButton"><i class="fa fa-remove"></i></a>
						</div>
					</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" ng-submit="planSave()">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="plan.name" required>
							</div>
						</div>
						<hr>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Titulo</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="plan.title" required>
							</div>
						</div>
						<hr>
						<div class="form-group"> 
							<label class="col-sm-2 control-label">Valor</label>
							<div class="col-sm-10"> 
								<div class="input-group mb-10"> 
									<span class="input-group-addon">$</span> 
									<input type="number" class="form-control" ng-model="plan.amount" required> 
									<span class="input-group-addon">.00</span> 
								</div> 
							</div>
						</div>
						<hr>
						<div class="row">
							<label for="inputtext" class="col-sm-2 control-label">Estado</label>
							<div class="col-sm-10">
								<div class="onoffswitch">
									<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="switchPlan" ng-model="plan.enabled" >
									<label class="onoffswitch-label" for="switchPlan">
										<span class="onoffswitch-inner"></span>
										<span class="onoffswitch-switch"></span>
									</label>
								</div>
							</div>
						</div>
						<hr>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label"></label>
							<div class="col-sm-10">
								<button type="submit" class="btn btn-default">Guardar</button>
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Terminos</label>
							<div class="col-sm-10">
								<text-angular ng-model="plan.descripcion" required></text-angular>
							</div>
						</div>
					</form>
				</div>
				<growl-notifications ng-repeat="notify in notifications">
						<growl-notification ng-if="true" class="{{notify.style}}">
							<div class="title">{{notify.title}}</div>
							{{notify.message}}
						</growl-notification>
				</growl-notifications>
			</div>
		</div>
	</div>
</div>